#contmain {
    padding-top: 10vh;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
  }
  
#text_field_nom {
    padding-bottom: 2vh;
}

.titre{
    padding-bottom: 2vh;
}

.divCenter{
    margin-left: 50vh;
}