.banner{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    padding-top:4vw;
}

h2{
    padding-bottom: 3vh;
}


.retour{
    margin-bottom: 2vh;
    margin-left:0vw;
}

.videoTwitch{
    height:60vh;
    width: 70vw;
}

.chatTwitch{
    height:60vh;
    width: 20vw;
}