{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voirCompetitionsActives.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Paytone+One" />
{% endblock %}
{% block main %}
<div class="voirCompetition container-fluid">
  <div class="container">
    <form role="form" method="POST" action="/voir_competitions_inactives/recherche/">
      <h1 class="text-center">Voici les compétitions inactives!</h1>
      <div class="recherche input-group container">
        <input name="search" class="rechercheComp form-control" type="text">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
</div>
  <div class="container divCartes">
    <div class="row center-block">
      {% for tournoi in tournois %}
        <div class="col-md-4 col-sm-6 ">
          <div class="thumbnail">
             <img class="center-block" src="{{ tournoi.logoT }}" alt="Logo" width="140" height="140">
             <h2>{{ tournoi.intituleT }}</h2>
             <p class="text-center">De : {{ dicoAdmin[tournoi.idT][1] }} {{ dicoAdmin[tournoi.idT][2] }}</p>
             <p class="text-center">A commencé le : {{ tournoi.dateT }}</p>
             <p class="text-center">Lieu : {{ tournoi.lieuT }}</p>
         </div>
        <a href='/voir_competition/{{tournoi.idT}}'><button class="bouton center-block">Voir les détails <span class="glyphicon glyphicon-search"></span></button></a>
       </div><!-- /.col-lg-4 -->
      {% endfor %}
       </div><!-- /.row -->
     </div>
</div>
{% endblock %}
